<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.xiaoxiao.qiaoba">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name=".interpreter.api.service.RemoteRouterService" android:process=":remote"></service>
    </application>

</manifest>
